<%- include('../homeIncludes/header.ejs') %>
    <link rel="stylesheet" href="/css/dashboard.css">
    <section id="dashboardNav">
        <div>
            <a href="/"> <img src="/img/logo.png" alt=""></a>
        </div>
        <ul>
            <li>Harsimar Kaur Bhatia <i class="fa-solid fa-user"></i></li>
        </ul>

    </section>
    <!-- Page Ends  -->
    <%- include('../homeIncludes/pageEnd.ejs') %>