<%- include('../homeIncludes/header.ejs') %>
    <!-- Dashboard Navbar -->
    <%- include('./dashboardIncludes/dashboardNav.ejs') %>

        <main id="dashboardMain" class="">
            <!-- Dashboard Sidebar -->
            <%- include('./dashboardIncludes/sidebar.ejs') %>

                <section id="dashboardContent"  style="height: fit-content;">
                    <div class="dashboardContainer">
                        <!-- Dashboard Content Start -->

                        <h1 class="pageTitle"><span><a href="/">Home / </a> </span>Dashboard</h1>
                        <article id="savedTrucks" class="dashboardContentContainer">
                            <!-- Saved Trucks -->
                            <h2 class="flexRow spaceBetween alignItemCenter">Your Favorite Food Trucks <i
                                    style="font-size: 30px;" class="fa-solid fa-star"></i></h2>
                            <div class="grid">
                                <a href="/foodTrucks">
                                    <div class="foodTruckGrid">
                                        <div class="foodTruckImg">
                                            <img src="https://images.pexels.com/photos/2518078/pexels-photo-2518078.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                                alt="">
                                        </div>
                                        <div class="foodTruckContent">
                                            <div style="margin-top: 10px;" class="flexRow spaceBetween alignItemCenter">
                                                <h3 class="heading">Giani Ice Cream</h3>
                                                <p class="rating flexRow alignItemCenter"> <span>5</span> &nbsp; <i
                                                        class="fa-solid fa-star"></i></p>
                                            </div>
                                            <div class="flexRow alignItemCenter truckGridLocation">
                                                <i class="fa-solid fa-location-dot"></i>
                                                <p>21-B, Avenue, Brampton</p>
                                            </div>
                                            <!-- <div class="gridTags">
                                    <p>Burgers</p>
                                    <p>Softies</p>
                                    <p>Tacos</p>
                                    <p>Bubble Tea</p>
                                </div> -->
                                            <br>
                                        </div>
                                    </div>
                                </a>
                                <a href="/foodTrucks">
                                    <div class="foodTruckGrid">
                                        <div class="foodTruckImg">
                                            <img src="/img/homeheader.jpg" alt="">
                                        </div>
                                        <div class="foodTruckContent">
                                            <div style="margin-top: 10px;" class="flexRow spaceBetween alignItemCenter">
                                                <h3 class="heading">The Taco and Tea</h3>
                                                <p class="rating flexRow alignItemCenter"> <span>5</span> &nbsp; <i
                                                        class="fa-solid fa-star"></i></p>
                                            </div>
                                            <div class="flexRow alignItemCenter truckGridLocation">
                                                <i class="fa-solid fa-location-dot"></i>
                                                <p>66 Golden St, Kitchener, Waterloo</p>
                                            </div>
                                            <!-- <div class="gridTags">
                                    <p>Burgers</p>
                                    <p>Tacos</p>
                                    <p>Bubble Tea</p>
                                    <p>Rolls</p>
                                    <p>Fish Orley</p>
                                </div> -->
                                            <br>
                                        </div>
                                    </div>
                                </a>

                                <a href="/foodTrucks">
                                    <div class="foodTruckGrid">
                                        <div class="foodTruckImg">
                                            <img src="https://images.pexels.com/photos/9897458/pexels-photo-9897458.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                                alt="">
                                        </div>
                                        <div class="foodTruckContent">
                                            <div style="margin-top: 10px;" class="flexRow spaceBetween alignItemCenter">
                                                <h3 class="heading">Camarao In Box</h3>
                                                <p class="rating flexRow alignItemCenter"> <span>5</span> &nbsp; <i
                                                        class="fa-solid fa-star"></i></p>
                                            </div>
                                            <div class="flexRow alignItemCenter truckGridLocation">
                                                <i class="fa-solid fa-location-dot"></i>
                                                <p>Victroi St, Cambridge</p>
                                            </div>
                                            <!-- <div class="gridTags">
                                    <p>Burgers</p>
                                    <p>Tacos</p>
                                    <p>Bubble Tea</p>
                                    <p>Rolls</p>
                                    <p>Fish Orley</p>
                                </div> -->
                                            <br>
                                        </div>
                                    </div>
                                </a>

                           

                            </div>

                            <div style="padding-top: 15px;" class="flexRow spaceBetween alignItemCenter">
                                <a id="viewAllBtn">View All <i class="fa-solid fa-bookmark"></i></a>
                                <button id="logoutBtn">Edit <i class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                        </article>
                        <!-- Your Trucks -->
                        <article id="savedTrucks" class="dashboardContentContainer">
                            <h2 class="flexRow spaceBetween alignItemCenter">Your Food Trucks              <a id="viewAllBtn">View All <i style="color: white;" class="fa-solid fa-truck-front"></i></a>
                                </h2>
                            <section id="myTruck">
                                <div class="myTruckImage">
                                    <img src="/img/homeheader.jpg" alt="">
                                </div>
                                <div class="myTruckContent">
                                    <div style="margin-top: 10px;" class="flexRow spaceBetween alignItemCenter">
                                        <h3 class="heading">Giani Ice Cream</h3>
                                        <p class="rating flexRow alignItemCenter"> <span>5</span> &nbsp; <i
                                                class="fa-solid fa-star"></i></p>
                                    </div>
                                    <div class="flexRow alignItemCenter truckGridLocation">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <p>Victroi St, Cambridge</p>
                                    </div>

                                    <p style="font-size: 15px; color: rgb(132, 132, 132);">Lorem ipsum dolor sit, amet
                                        consectetur adipisicing elit. Dolorem voluptate
                                        reprehenderit id, iste saepe deserunt alias voluptatum ex, aperiam
                                        exercitationem dolor totam! Ad accusamus nulla illum hic sint id est! Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit. Numquam vitae nihil ut ipsum
                                        aperiam error aspernatur dignissimos ducimus. Maxime sit adipisci quae, nam quod
                                        accusamus et perspiciatis impedit fugiat deleniti.</p>

                                    <p style="color: rgb(223, 178, 88);">3 Reviews</p>
                                    <p style="color: rgb(223, 178, 88);">5 Ratings</p>
                                    <p style="color: rgb(223, 178, 88);">4 Added to Favorites</p>

                                    <div style="padding-top: 15px;" class="flexRow spaceBetween alignItemCenter">
                                        <a id="viewAllBtn">View <i class="fa-solid fa-eye"></i></a>
                                        <button id="logoutBtn">Edit <i class="fa-solid fa-pen-to-square"></i></button>
                                    </div>
                                </div>
                            </section>

                            <section id="myTruck">
                                <div class="myTruckImage">
                                    <img src="/img/homeheader.jpg" alt="">
                                </div>
                                <div class="myTruckContent">
                                    <div style="margin-top: 10px;" class="flexRow spaceBetween alignItemCenter">
                                        <h3 class="heading">Giani Ice Cream</h3>
                                        <p class="rating flexRow alignItemCenter"> <span>5</span> &nbsp; <i
                                                class="fa-solid fa-star"></i></p>
                                    </div>
                                    <div class="flexRow alignItemCenter truckGridLocation">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <p>Victroi St, Cambridge</p>
                                    </div>

                                    <p style="font-size: 15px; color: rgb(132, 132, 132);">Lorem ipsum dolor sit, amet
                                        consectetur adipisicing elit. Dolorem voluptate
                                        reprehenderit id, iste saepe deserunt alias voluptatum ex, aperiam
                                        exercitationem dolor totam! Ad accusamus nulla illum hic sint id est! Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit. Numquam vitae nihil ut ipsum
                                        aperiam error aspernatur dignissimos ducimus. Maxime sit adipisci quae, nam quod
                                        accusamus et perspiciatis impedit fugiat deleniti.</p>

                                    <p style="color: rgb(223, 178, 88);">3 Reviews</p>
                                    <p style="color: rgb(223, 178, 88);">5 Ratings</p>
                                    <p style="color: rgb(223, 178, 88);">4 Added to Favorites</p>

                                    <div style="padding-top: 15px;" class="flexRow spaceBetween alignItemCenter">
                                        <a id="viewAllBtn">View <i class="fa-solid fa-eye"></i></a>
                                        <button id="logoutBtn">Edit <i class="fa-solid fa-pen-to-square"></i></button>
                                    </div>
                                </div>
                            </section>
                        </article>
                        <!-- Dashboard Content End -->
                    </div>
                </section>
        </main>
        <script src="/js/dashboardSidebar.js"></script>


        <!-- Page Ends  -->
        <%- include('../homeIncludes/pageEnd.ejs') %>