<section class="dealsContainer">
    <div class="container ">
        <h1 class="heading">Deals of the day</h1>
        <br>
        <div class="grid">
            <a href="/foodTrucks">
                <div class="foodTruckGrid">
                    <div class="foodTruckImg">
                        <img src="https://images.pexels.com/photos/2518078/pexels-photo-2518078.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            alt="">
                        <div class="dealOfTheDay">
                            <p><i class="fa-solid fa-crown"></i> Flat 30% OFF</p>
                        </div>
                    </div>
                    <div class="foodTruckContent">
                        <div style="margin-top: 10px;" class="flexRow spaceBetween alignItemCenter">
                            <h3 class="heading">Giani Ice Cream</h3>
                            <p class="rating flexRow alignItemCenter"> <span>5</span> &nbsp; <i
                                    class="fa-solid fa-star"></i></p>
                        </div>
                        <div class="flexRow alignItemCenter truckGridLocation">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>21-B, Avenue, Brampton</p>
                        </div>
                        <!-- <div class="gridTags">
                    <p>Burgers</p>
                    <p>Softies</p>
                    <p>Tacos</p>
                    <p>Bubble Tea</p>
                </div> -->
                        <br>
                    </div>
                </div>
            </a>
            <a href="/foodTrucks">
                <div class="foodTruckGrid">
                    <div class="foodTruckImg">
                        <img src="/img/homeheader.jpg" alt="">
                        <div class="dealOfTheDay">
                            <p><i class="fa-solid fa-crown"></i> Flat 40% OFF</p>
                        </div>
                    </div>
                    <div class="foodTruckContent">
                        <div style="margin-top: 10px;" class="flexRow spaceBetween alignItemCenter">
                            <h3 class="heading">The Taco and Tea</h3>
                            <p class="rating flexRow alignItemCenter"> <span>5</span> &nbsp; <i
                                    class="fa-solid fa-star"></i></p>
                        </div>
                        <div class="flexRow alignItemCenter truckGridLocation">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>66 Golden Street, Kitchener, Waterloo</p>
                        </div>
                        <br>
                    </div>
                </div>
            </a>
            <a href="/foodTrucks">
                <div class="foodTruckGrid">
                    <div class="foodTruckImg">
                        <img src="https://images.pexels.com/photos/9897458/pexels-photo-9897458.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            alt="">
                        <div class="dealOfTheDay">
                            <p><i class="fa-solid fa-crown"></i> Flat 25% OFF</p>
                        </div>
                    </div>
                    <div class="foodTruckContent">
                        <div style="margin-top: 10px;" class="flexRow spaceBetween alignItemCenter">
                            <h3 class="heading">Camarao In Box</h3>
                            <p class="rating flexRow alignItemCenter"> <span>5</span> &nbsp; <i
                                    class="fa-solid fa-star"></i></p>
                        </div>
                        <div class="flexRow alignItemCenter truckGridLocation">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>Victroi St, Cambridge</p>
                        </div>
                        <!-- <div class="gridTags">
                    <p>Burgers</p>
                    <p>Tacos</p>
                    <p>Bubble Tea</p>
                    <p>Rolls</p>
                    <p>Fish Orley</p>
                </div> -->
                        <br>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>