<div id="searchBar">
    <form class="searchBar flexRow alignItemCenter" action="">
        <input type="text" placeholder="Search for a region, food truck, cusine or dish">
        <div class="searchIcon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </form>
</div>